{{#if words}}
    <div class="container">
        <ol class="card">
            <h2>Word list</h2>
            {{#each words}}
                <li>{{ this.word }}</li>
            {{/each}}
        </ol>
    </div>
    {{else}}
    <div>Empty list</div>
{{/if}}
